.container{
    width: 90%;
    height: 140px;
    padding:5px;
    margin: 10px auto;
    background-color:#eeeeee;
    display:-webkit-flex; 
    display: -ms-flexbox; 
    /*display: flex;*/
}
.container .nowrap{
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.box{
    background-color:#ccc;
    margin: 10px;
    width:100%;
    border: 1px solid;
    padding: 5px;
}